<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.db_HotelConnectionString"
            connectionString="Data Source=laptop-b7hptv3f\sqlexpress01;Initial Catalog=db_Hotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>