<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.db_HotelConnectionString"
            connectionString="workstation id=ProyectoPav.mssql.somee.com;packet size=4096;user id=lautaF_SQLLogin_1;pwd=3qqdydoszt;data source=ProyectoPav.mssql.somee.com;persist security info=False;initial catalog=ProyectoPav"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>